<div class="container">
  <%= form_with model: @list do |f| %>
    
    <div class="form-row">
    <%= fields_for :list do |form| %>
    <div class="row p-0">
      <div class="field col-md-6">
        <%= form.label :name, class:"col-form-label"  %>
        <%= form.text_field :name, class:"form-control col-sm-10" %>
        <p><small>This will be the nickname for your list!</small></p>
      </div>

      <div class="field col-md-6">
        <%= form.label :description, class:"col-form-label" %>
        <%= form.text_field :description, in: 10.00..15000.00, step: 0.5, class:"form-control col-sm-10" %>
        <p><small>A few words or notes about your list</small></p>
      </div>
    </div>

      <div class="text-center">
        <%= form.submit 'Submit', class:"actions w-25 btn btn-primary" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>