<div class="border rounded shadow p-4">
  <%= form_with model: @list do |f| %>
    
    <%= fields_for :list do |form| %>
    <div class="row p-2">
      
        <span class="fw-bolder"><%= form.label :name %></span>
        <%= form.text_field :name, class:"form-control" %>
        <p class="text-muted text-start"><small>This will be the nickname for your list!</small></p>
      
    </div>

    <div class="row p-2">
      
        <span class="fw-bolder"><%= form.label :description %></span>
        <%= form.text_field :description, class:"form-control" %>
        <span class="text-muted text-start"><small>A few words or notes about your list</small></span>
      
    </div>
    <div class="row p-2">
      <p>User lists to save items for later. All lists are private and cannot be shared with others.</p>
    </div>
    
    <div class="row p-2">
      <div class="text-end my-3">
        <%= link_to 'Cancel', :back, class:" actions btn btn-outline-primary" %>
        <%= form.submit 'Submit', class:"actions w-25 btn btn-primary" %>
      </div>
    </div>
    
    <% end %>
    
  <% end %>
</div>