<%= form_with model: @gift_card do |f| %>
  
  
  <%= fields_for :gift_card do |form| %>
  
  <div class="row text-start p-0">
    <div class="col-6 ">
      <%= form.label :Enter_claim_code%>:<span class="text-muted"><small>(no punctuation, numbers no spaces!)</small></span>
      <%= form.number_field :code, class:"form-control" %>
    </div>

    <div class="col-6 text-center">
      <%= form.submit 'Submit', class:"actions w-25 btn btn-primary" %>
    </div>

  </div>
  
  <div class="text-start">
    <div class="field">
      <%= form.label :notes %>:
      <%= form.text_area :notes, class:"form-control" %>
    </div>
  </div>

  
  
  <% end %>
<% end %>
