<%= form_with model: @gift_card do |f| %>
  
  
  <%= fields_for :gift_card do |form| %>
  
  <div class="row text-start align-items-center mb-4">
    <div class="col-8">
      <span class="fw-bolder"><%= form.label :Enter_claim_code%></span><span class="text-muted"><small> <em>(dashes not required)</em></small></span>
      <%= form.number_field :code, class:"form-control" %>
      <em><div class="fs-6"><%= link_to "How do I find the claim code?", root_path, class:"text-muted text-decoration-none", style:"color:blue;" %></div></em>
    </div>

    <div class="col-4">
      <%= form.submit 'Apply to your balance', class:"actions btn btn-primary w-100" %>
    </div>

  </div>
  
  <div class="row text-start align-items-center">
    <div class="field">
      <span class="fw-bolder"><%= form.label :notes %></span><span class="text-muted"><em><small> (Only you will see this information)</small></em></span>
      <%= form.text_area :notes, class:"form-control" %>
    </div>
  </div>

  
  
  <% end %>
<% end %>
