<br><br>
<div class="container pb-4">

  <div class="row justify-content-center pt-3">
    <div class="col-8 pb-4">
      <%= render 'add_balance_card', gift_card: @gift_card %>
    </div>
  </div>

  <div class="row justify-content-center p-3">
    <div class="col-8 text-muted">
      <hr><div class="py-2">
        <p> Once applied to your Scamazon account, the entire gift card amount will be added to your gift card balance. Your gift card balance, including Scmazon Reload, does not expire and can’t be transferred to other accounts, used to buy other gift cards, or, as except as required by law, redeemed for cash. Review out <%= link_to 'terms and conditions.', termsandconditions_path %></p></div><hr>
    </div>
  </div>

  <div class="row justify-content-center mx-1">
    
    <div class="col-8 p-3">
      <div class="lead fs-3 p-1">Balance History</div>
      <%= render 'transaction_history', user: @user %><br>
    </div>
  
  </div>

  <div class="row justify-content-center">
    <div class="col-8 p-2">
      <small><em><p class="text-muted lh-sm">Your balance will never expire. We'll automatically apply your Gift Card Balance to eligible orders when you checkout. If you would rather not use your balance, you can deselect it in the Payment Selection step of checkout. <strong>Limitations:</strong> Your Gift Card Balance cannot be transferred to other accounts. See the <%= link_to "Scmazon.com Gift Card terms and conditions", termsandconditions_path %> for further information.</em></p></small>
    </div>
  </div>

</div><br><br>
<%= render "/item/shared/explore_more_items"%>

