<div class= "container py-5">
  <div class="col-md-6 offset-md-3">

  <div class="row align-items-center">
    
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= profile_url %>">Profile</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>

  </div>

  <div class="d-flex flex-row pt-2 pb-0 align-items-end">
    <div class="col flex-col flex-fill">
      <h3 class="fw-light">Login & security</h3>
    </div>
    <div class="col flex-col">
      <p class="text-muted text-end me-4">  <em><small>*edit here</small></em></p></div>
  </div>

  <div class="row align-items-center">
    <div class="">
      <ul class="list-group list-group-flush">
        <%= render 'devise/registrations/shared/edit_form' %>
      </ul>
    </div>
  </div>
</div>










<div class="container mt-5 pt-5">

<%= render 'devise/registrations/shared/edit_form' %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>