<!doctype html>
<html lang="en">
  <head>
    <title>Scamazon</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
    
  <div id="notice_error">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
  <body>
        <div class="container-fluid">
          <div class="d-flex flex-row justify-content-center">
            <div class="col-4">
              <%= link_to image_tag('main-logo', class:"img-fluid"), root_path %>
            </div>
          </div>
          
          <div class="d-flex flex-row justify-content-center">
            <div class="col-6 text-start p-2 border-2 shadow rounded">
              <div class="fs-3 px-5 pt-2 pb-2">Create your Store</div>
              <main class="form-sigin px-5 pb-4">
              <%= form_with url: new_user_store_path, method: 'POST' do |f| %>
                <% f.fields_for :new_store do |form| %>
                  <%= form.hidden_field :logo, value: Faker::Company.logo %>
                  
                  <%= form.label :name, class:"form-label" %>
                  <%= form.text_field :name, class:"form-control"%>
                  
                  <%= form.label :email, class:"form-label pt-2" %>
                  <%= form.text_field :email, class:"form-control"%>
                  
                  <%= form.label :address, class:"form-label pt-2" %>
                  <%= form.text_field :address, class:"form-control"%>
                  
                  <%= form.label :description, class:"form-label pt-2" %>
                  <%= form.text_field :description, class:"form-control" %>
                  
                  <%= form.label :industry, class:"form-label pt-2" %>
                  <%= form.text_field :industry, class:"form-control"%>
                  
                  <%= form.label :mission_statement, class:"form-label pt-2" %>
                  <%= form.text_field :mission_statement, class:"form-control"%>
                  
                  <%= form.label :ein, class:"form-label pt-2" %>
                  <%= form.number_field :ein, class:"form-control"%>

                <div class="my-4 text-end"><%= f.submit 'Done', class:"btn btn-primary" %></div>
                <% end %>
              <% end %>
              </main>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <p class="mt-5 mb-5 text-muted">© 1996-2021, Scamazon.com, Inc. or its affiliates</p>
      </div><br><br>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>


