<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @store.logo %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @store.industry %>
</p>

<p>
  <strong>Mission statement:</strong>
  <%= @store.mission_statement %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @store.ein %>
</p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
