<!-- checks item rating and then returns the correct represetation of stars and the total size of an item ratings --> 
<div>
    <% if item.rating.nil? %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(0..0.49) %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(0.5..0.99) %>
      <%= render "/item/ratings/stars/half" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(1..1.49) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(1.5..1.99) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/half" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(2..2.49) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(2.5..2.99) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/half" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(3..3.49) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/empty" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(3.5..3.99) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/half" %>
      <%= render "/item/ratings/stars/empty" %>
    <% elsif item.rating.include?(4..4.49) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/half" %>
    <% elsif item.rating.include?(4.5..5) %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
      <%= render "/item/ratings/stars/full" %>
    <% else %>
    <% end %><small><%=link_to "#{item.reviews.all.size} ratings", item_path(item), class:"text-decoration-none btn p-0 bg-transparent m-0" %></small>
</div>