<p id="notice"><%= notice %></p>

<p>
  <strong>Redeem code:</strong>
  <%= @gift_card.redeem_code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @gift_card.notes %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @gift_card.amount %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @gift_card.wallet_id %>
</p>

<%= link_to 'Edit', edit_gift_card_path(@gift_card) %> |
<%= link_to 'Back', gift_cards_path %>
