<div class="flex text-start justify-content-start">
  <div class="card p-2">
    <div class="card-body pt-4">
      <h6 class="text-danger">$<%= @item.price %></h6>
      <span class="text-muted"><i>FREE</i> returns for <%= link_to "Slime", scamazonslime_path %></span>
      <div><%= image_tag("crop_slime", size:"83x26") %> <small><i>FREE</i> Worker Exploitation</small></div>
      <div><small>Arrives via Scamazon Shipping in <b>25 minutes</b></small></div>
              
      <% if current_user %>
        <div class="d-grid gap-2 mt-4">
          <%= link_to "Add Item to Cart", root_path(@item), class:"btn btn-outline-primary" %>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSM" data-bs-toggle="dropdown" aria-expanded="false">Add Item to List</button>
            <div class="dropdown-menu pt-0 mx-0 rounded-3 shadow overflow-hidden" style="width: 280px;">
              <form class="p-2 mb-2 bg-light border-bottom">
                <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
              </form>
              <ul class="list-unstyled mb-0">
                <% current_user.lists.each do |list| %>
                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="<%= add_item_to_list_url(item_id: @item.id, id: list.id) %>">
                      <span class="d-inline-block bg-success rounded-circle" style="width: .5em; height: .5em;"></span>
                      <%= list.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>

        <% end %>

      <% if current_user.nil?%>
      <div class="d-grid gap-2 mt-4">
        <%= link_to "Add Item to Cart", root_path(@item), class:"btn btn-primary" %>
        <%= link_to "Add Item to List", login_path, class:"btn btn-primary", notice: "Login to add this item to your list!" %>
      <% end %>

      
    </div>
  </div>
</div>