<p id="notice"><%= notice %></p>

<h1>Pay Methods</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Number</th>
      <th>Expires</th>
      <th>Code.integer</th>
      <th>Name on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pay_methods.each do |pay_method| %>
      <tr>
        <td><%= pay_method.type %></td>
        <td><%= pay_method.number %></td>
        <td><%= pay_method.expires %></td>
        <td><%= pay_method.code.integer %></td>
        <td><%= pay_method.name_on %></td>
        <td><%= link_to 'Show', pay_method %></td>
        <td><%= link_to 'Edit', edit_pay_method_path(pay_method) %></td>
        <td><%= link_to 'Destroy', pay_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay Method', new_pay_method_path %>
