<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @pay_method.type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @pay_method.number %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @pay_method.expires %>
</p>

<p>
  <strong>Code.integer:</strong>
  <%= @pay_method.code.integer %>
</p>

<p>
  <strong>Name on:</strong>
  <%= @pay_method.name_on %>
</p>

<%= link_to 'Edit', edit_pay_method_path(@pay_method) %> |
<%= link_to 'Back', pay_methods_path %>
