<div class="input-group">
<%= form_with url: "/search", class:"input-group d-flex mx-2", method:"POST" do |f| %>
  <%= fields_for :search do |form| %>
      <%= form.select :category, category_formatter, selected:"Category", class:"btn btn-outline-primary dropdown-toggle", data_toggle:"dropdown" %>
      <%= form.text_field :query, class:"form-control flex-fill" %>
  <% end %>

      <%= f.submit "Search", class:"btn btn-primary input-group-text"%>
<% end %>
</div>