      <%= form_with url: "/search", class:"input-group d-flex m-1 ms-3" do |f| %>
        <%= fields_for :categories do |foo| %>
          <select class="input-group-text" aria-label="category-select-sm" style="width: 74px" name="category" id="category" >
            <option selected >All</option>
              <% Category.all.each do |category| %>
                <option value="<%=category.name %>"><%= category.name %></option>
              <% end %>
            </select>
        <% end %>
        <%= fields_for :query do |bar| %>
          <input type="text" class="form-control flex-fill" placeholder="" aria-label="Search" aria-describedby="basic-addon1" name="query" value="Search">
        <% end %>
      <%= f.submit "Search", class:"btn btn-success input-group-text" %>

    <% end %>