      <ul class="navbar-nav mb-0 ms-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-center text-white fw-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, Sign In!<br>
            Account & Lists
          </a>
          <ul class="dropdown-menu text-center dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
            <%= link_to "Sign-In!", sign_in_path, class:"btn btn-success dropdown-item", type:"button" %>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class=""><b>Your Account</b></h6>
            <%= link_to "New? Signup!", sign_up_path, class: "dropdown-item text-start" %>
            <%= link_to "Account", show_profile_path, class: "dropdown-item text-start" %>
            <%= link_to "Orders", sign_in_path, class: "dropdown-item text-start" %>
            <%= link_to "Lists", sign_in_path, class: "dropdown-item text-start"%>
            <%= link_to "Store Dashboard", sign_in_path, class: "dropdown-item text-start"%>
          </ul>
        </li>
      </ul>