<div class="container mt-2">
<h3>Your Account</h3>
  <div class="row row-cols-1 row-cols-md-3 g-3 p-2 justify-content-evenly mt-2">
      <%= render "/devise/sessions/show_snippets/orders" %>
      <%= render "/devise/sessions/show_snippets/account" %>
      <%= render "/devise/sessions/show_snippets/slime" %>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-3  p-2 justify-content-evenly">
      <%= render "/devise/sessions/show_snippets/gift_card" %>
      <%= render "/devise/sessions/show_snippets/lists" %>
      <%= render "/devise/sessions/show_snippets/store_dashboard" %>
  </div><br>
</div>

<div class="mt-5">
    <%= render "/item/shared/explore_more_items"%>
</div>