<div class="d-flex row justify-content-between mb-4">
      <div class="col-md-4 col-lg-3 col-xl-2 themed-grid-col"><%= render "/item/shared/components/random_item" %></div>
      <div class="col-md-4 col-lg-3 col-xl-2 themed-grid-col"><%= render "/item/shared/components/random_item" %></div>
      <div class="col-md-4 col-lg-3 col-xl-2 themed-grid-col"><%= render "/item/shared/components/random_item" %></div>
      <div class="col-md-4 col-lg-3 col-xl-2 themed-grid-col d-none d-lg-block"><%= render "/item/shared/components/random_item" %></div>
      <div class="col-md-4 col-lg-3 col-xl-2 themed-grid-col d-none d-xl-block"><%= render "/item/shared/components/random_item" %></div>
</div>