




  <div class="bg-light">
    <div class="text-end"><span><%=link_to image_tag("https://m.media-amazon.com/images/G/01/wishlist/ellipsis._CB485947373_.svg", class:"ms-2 me-2", alt:"More Options"), root_path, class:"mt-2 me-2" %></span></div>
    <div><%= link_to image_tag(Faker::Placeholdit.image(size: '185x185'), class:"bg-transparent"), item_path(@item, id: @item.id)%><br></div>
    <div class=""><%= link_to "#{@item.name}", item_path(@item), class:"text-decoration-none text-black bg-white text-start h6" %><%= link_to "$#{@item.price}", item_path(@item), class:"text-decoration-none bg-transparent text-danger fs-6 mx-1" %><br></div>
    <div><%=link_to render("/item/ratings/small_rating", item: @item), item_path(@item), class:"link text-decoration-none bg-transparent" %></div>
    <div class=""> <%= link_to "Add to Cart", add_item_to_cart_path(item_id: @item.id), class:"btn btn-outline-primary w-75 btn-sm shadow-sm"%></div>  
  </div>


