<div class="d-flex border ps-0 p-1 justify-content-start">
    <a href="<%= item_path(@item)%>" class="btn bg-transparent btn-link flex-fill text-decoration-none">
      <div class="d-flex mx-auto p-0">
        <%= image_tag Faker::Placeholdit.image(size: '100x100') %>
          <div class="flex-column text-start m-1 ms-3">
            <span class=" h6 light"><%= @item.name %></span>
            <p class="text-decoration-none"><%= render "/item/ratings/small_sponsored" %><br>
            <span class="h6 text-decoration-none">$<%= @item.price %><%= image_tag("crop_slime", size:"50x16", class:"ps-2") %></span>
            </p>
          </div>
      </div>
    </a>
</div>
<div class="text-muted p"><small>sponsored content</small></div>
