<!DOCTYPE html>
<html>
  <head>
    <title>ScamazonBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% #<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #<%=  javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="head-content">
    <div class="navbar" id="navbar"></div>

    <div class="notices" id="notices">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
  </div>

  <div class="container-fluid body-content" id="body-content">
    <body>
      <%= yield %>
    </body>
  </div>




</html>
